html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.image-inside-card {
    width: 100%;
    border-radius: 10px;
}

.profile-pic {
    margin-bottom: 5px;
}

.video-container {
    width: 50%; /* Certifique-se de que o contêiner do vídeo ocupe toda a largura disponível */
    display: flex;
    justify-content: center; /* Centraliza o vídeo horizontalmente */
    margin-bottom: 20px; /* Espaçamento inferior para separar dos botões */
}

video {
    width: 50%; /* Define a largura do vídeo como 100% do contêiner */
    max-width: 100px; /* Define uma largura máxima para o vídeo */
    height: auto; /* Mantém a proporção do vídeo */
    border-radius: 10px; /* Arredonda os cantos do vídeo */
    display: block; /* Remove qualquer espaço adicional ao redor do vídeo */
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.text {
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

.footer-text {
    margin: 10px 0 0;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
