html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('back.png'); /* Imagem de fundo da página */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card {
    background-image: url('caminho/para/sua-imagem.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do card */
    background-position: center; /* Centraliza a imagem dentro do card */
    background-repeat: no-repeat; /* Evita que a imagem se repita */

    padding: 20px;

    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.8; /* Define o nível de transparência do card */
  }
  
  .card-image {
    position: relative;
    margin-bottom: 5px; /* Espaçamento inferior para separar do conteúdo seguinte */
  }
  
  .image-inside-card {
    width: 100%;
    border-radius: 10px; /* Arredonda os cantos da imagem */
  }
  
  .profile-pic {
    margin-bottom: 5px;
  }

  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .social-icons {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens */
    gap: 20px; /* Espaçamento entre os ícones */
    margin-top: 10px; /* Espaçamento superior para separar do conteúdo anterior */
    flex-wrap: wrap; /* Permite que os ícones se movam para a linha seguinte se necessário */
}



.social-icon {
    display: block;
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
}

.text {
    font-size: 16px; /* Tamanho do texto */
    color: #ffffff; /* Cor do texto */
}

.h6 {
    margin: 5px 0 0; /* Espaço entre o ícone e o texto */
    font-size: 12px; /* Tamanho reduzido do texto */
    color: #ffffff; /* Cor do texto */
}

.footer-text {
    margin: 0; /* Remove a margem padrão */
    font-size: 5px; /* Tamanho do texto do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
}
  
  @media (max-width: 600px) {
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .social-icon {
      width: 30px;
    }
  }